*,
*::before,
*::after {
  box-sizing: border-box;
}

// General styles
body {
  margin: 0;
  font-family: "Inter", system-ui;
  background: #e7f6ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-size: 14px;
}
span {
  color: #9d9d9d;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1 {
  margin: 40px 0;
}

.wrapper {
  max-width: 1080px;
  background-color: white;
  border-radius: 20px;
  margin: 85px auto;
}
.content {
  margin: 0 60px;
  padding-bottom: 40px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.sneakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.search {
  display: flex;
  align-items: center;
  width: 250px;
  border: 1px solid #f3f3f3;
  padding: 15px 18px;
  border-radius: 20px;

  input {
    border: 0;
    margin-left: 14px;
    outline: none;

    &::placeholder {
      color: #c4c4c4;
    }
  }
}
